//Variables
$tan: #7D6940;
$bg: #1F1E1C;

// Resets
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #E8E7E4;
}

body {
	height: 100%;
	overflow-x: hidden;
	color: #E8E7E4;
}

h1, h2, h3, {
	color: #BAAFAA;
}

// Globals
.container {
	width: 80%;
	margin: 0 auto;
}

.row {
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
}

.center {
	justify-content: center;
}

.column-center {
	align-items: center;
}

.right {
	justify-content: flex-end;
}

.split {
	justify-content: space-between;
}

// Page Styles
.overlay {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-size: 2px 2px;
	opacity: .2;
	background: repeating-linear-gradient(0deg, #0E0907, #0E0907 1px, transparent 1px, transparent 1px), repeating-linear-gradient(-90deg, #0E0907, #0E0907 1px, transparent 1px, transparent 1px);
}

.video-wrap {
	position: absolute;
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	z-index: -10;
	video {
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
	}
}

header {
	height: 140px;
	position: relative;
	.header-bg {
		position: absolute;
		height: 140px;
		background: #1F1E1D;
		top: 0;
		left: 0;
		width: 100%;
		opacity: .9;
		z-index: -1;
	}
	.logo {
		width: 115px;
		height: 115px;
	}
	nav {
		img {
			margin-right: 15px;
		}
		a {
			margin-right: 25px;
			text-transform: uppercase;
			font-size: .98em;
		}
	}
	.social-icons {
		img {
			width: 35px;
			height: 35px;
			margin-right: 4px;
		}
	}
	.divider-left, .divider-right {
		position: absolute;
		bottom: 0;
		background: #E8D9BF;
		height: 1px;
	}
	.divider-left {
		width: 20%;
		left: 0;
	}
	.divider-right {
		width: 80%;
		right: 0;
		opacity: .8;
	}
}

.diamond, .diamond-small {
	position: absolute;	
	bottom: 0;
}

.diamond {
	top: 265px;
	height: 320px;
	width: 320px;
	border: 5px solid $tan;
	transform: rotate(45deg);
	margin: 0 auto;
	right: 0;
	left: 0;
	.diamond-small {
		top: 10px;
		left: 10px;
		width: 290px;
		height: 290px;
		background: $bg;
		opacity: .8;

	}
	.tm {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 20px;
		left: 20px;
		background: $tan;
		span {
			display: block;
			color: #2E2E2E;
			margin: 6px 0 0 5px;
			font-family: serif;
			transform: rotate(-45deg);
		}
	}
	.we-are {
		display: block;
		margin: 24% 0 0 -10%;
		transform: rotate(-45deg);
		h2, h3 {
			text-transform: uppercase;
			font-family: serif;
			text-align: center;
			font-weight: 400;
			letter-spacing: 3px;
		}
		h2 {
			font-size: 2.4em;
			text-align: center;
			line-height: 1.3;
			&:nth-child(2) {
				color: $tan;
			}
		}
		h3 {
			font-size: 1.2rem;
			margin-top: 10px;
			position: relative;
			&:after {
				position: absolute;
				bottom: -25px;
				left: -10px;
				right: 0;
				margin: 0 auto;
				content: '';
				height: 1px;
				width: 23%;
				background: $tan;
				opacity: .3;
			}
		}
	}
}

footer {
	width: 80%;
	height: 55px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(31, 30, 28, .9);
	margin: 0 auto;
	& div {
		height: 100%;
	}
	a {
		color: #D6CBC5;
		font-size: .95em;
		letter-spacing: .03em;
		margin-right: 35px;
		font-family: serif;
		&:first-child {
			margin-left: 30px;
		}
		&:nth-child(n+2) {
			font-style: italic;
		}
		&:last-child {
			text-decoration: underline;
		}
	}
	& div:nth-child(2) {
		background: #101010;
		a {
			font-style: normal;
			&:first-child {
				margin-left: 15px;
				font-size: 1.2em;
				font-family: 'Josefin Slab', serif;
				font-weight: 600;
				transform: scale(1, 1.1);
				letter-spacing: -.05em;
			}
			&:nth-child(2) {
				font-size: 1.7em;
				transform: scale(1, .6);
				font-weight: 700;
			}
			&:nth-child(3) {
				text-transform: uppercase;
				font-family: sans-serif;
				font-weight: 700;
				transform: scale(1, 1.2);
				letter-spacing: -.0075em;
			}
			&:last-child {
				margin-right: 15px;
			}
		}
		img {
			width: 30px;
			height: 30px;
		}
	} 
}